apiVersion: v1
kind: ConfigMap
metadata:
  name: blackbox-config
  namespace: monitoring
data:
  blackbox.yml: |
    modules:
      http_2xx:
        prober: http
        timeout: 5s
        http:
          valid_status_codes: [200, 301, 302]
          ip_protocol_fallback: false
          preferred_ip_protocol: ip4
          method: GET

      tcp_connect:
        prober: tcp
        timeout: 5s
