apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: prometheus
  namespace: monitoring
spec:
  serviceName: prometheus
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      serviceAccountName: prometheus   # <<< THIS IS THE CRITICAL LINE
      containers:
      - name: prometheus
        image: prom/prometheus:v2.52.0
        args:
          - "--config.file=/etc/prometheus/prometheus.yml"
          - "--storage.tsdb.path=/prometheus"
        ports:
          - name: web
            containerPort: 9090
        volumeMounts:
          - name: config
            mountPath: /etc/prometheus
          - name: data
            mountPath: /prometheus

      - name: thanos-sidecar
        image: quay.io/thanos/thanos:v0.37.0
        args:
          - "sidecar"
          - "--prometheus.url=http://localhost:9090"
          - "--tsdb.path=/prometheus"
          - "--grpc-address=0.0.0.0:10901"
          - "--http-address=0.0.0.0:10902"
        ports:
          - name: grpc
            containerPort: 10901
          - name: http
            containerPort: 10902
        volumeMounts:
          - name: data
            mountPath: /prometheus

      volumes:
        - name: config
          configMap:
            name: prometheus-config
        - name: data
          emptyDir: {}
